/*
	GENERAL PROPERTIES
*/
html {overflow-x: hidden;}

body
{
	overflow: hidden;
	margin: 0;
	padding: 0;
	font: normal normal normal 12pt 'Pontano Sans', sans-serif;
	background-color: #000000;
}

#bgimg
{
	width: 100%;
	height: 2000px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('../media/novideo_bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: top left;
	z-index: -100;
}

h1, h2, h3, h4, h5
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: normal;
	margin: 0;
    padding: .5em 0 0 0;
}

h1 { text-align: center; font-size: 4em; color: white;}
h2 { font-size: 2em; font-weight: bold; color: #03587c;}
h3 { font-size: 1.25em; color: black; margin-bottom: .1em;}
h4 { font-size: 1.12em; font-weight: bold; color: black; margin-bottom: .1em;}
h5 { font-size: 1em; font-weight: bold; color: gray; margin-bottom: .1em;}

.regular_block a
{
	color: #03587c;
	text-decoration: none;
}

.regular_block a:hover
{
	color: #008cc8;
}

.attention_block a, .site_info a
{
	color: skyblue;
	text-decoration: none;
}

.attention_block a:hover, .site_info a:hover
{
	color: lightblue;
}

p 
{
	font-size: 1em;
	color: black;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

ul
{
	margin-top: 0;
	margin-bottom: 1em;
}

div.button_list
{
    text-align: center;
    margin: 2em auto;
}

input[type=button], input[type=submit]
{
    border: none;
    box-shadow: -2px 2px 5px rgba(0,0,0,.5);
    min-width: 8em;
    background-color: coral;
    padding: .5em;
    margin: .5em;
    font-family: 'Open Sans Condensed', sans-serif;
	font-weight: normal;
    color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
	cursor: pointer;
	font-size: 1em;
}

input[type=button]:hover, input[type=submit]:hover
{
    background-color: #ffaa66;
}

input[type=button]:active, input[type=submit]:active
{
    transform: scale(.8);
    background-color: #ff4400;
    border: none;
}

@media screen and (max-width: 607px)
{
    input[type=button] 
    {
        display: block;
        margin: 0 auto;
        margin-bottom: 1em;
        width: 10em;
    }
}

/*
	SHUTTERS / LOADING
*/
#loading_screen
{
	position: relative;
	z-index: 1100;
}

#left_shutter, #right_shutter
{
	width: 50%;
	position: absolute;
	top: 0;
	background-color: black;
	height: 110vh;
	transition: left .75s ease-in-out, right .75s ease-in-out;
}
#left_shutter { left: 0; }
#right_shutter { right: 0; }
#left_shutter.open { left: -51%; }
#right_shutter.open { right: -51%; }

#setup_loading
{
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	left: 0;
	top: 45vh;
	transition: opacity .5s ease-in-out;
	pointer-events: none;
}

#setup_loading.open
{
	opacity: 0;
}

#setup_loading p 
{
	color: white;
	margin: 0;
}

#setup_loading img
{
	width: 2em;
	margin: 0;
}


/*
	LAYOUT
*/
span.line
{
    display: inline-block;
}

.regular_block { padding: 2em 1em; }

.center_block { text-align: center; }

.dark_block {background-color: #02435f; background: linear-gradient(to top right, #013047, #03587c); /* Standard syntax */}

#traffic_bg
{
    background: #02435f url('../media/traffic_bg.jpg') no-repeat center;
    background-size: cover;
}

#library_bg
{
    background: #02435f url('../media/library_bg.jpg') no-repeat center;
    background-size: cover;
}

.attention_block
{
	padding: 2em 1em;
    text-align: center;
}

.attention_block p 
{
	color: white;
	margin-bottom: 2em;
	padding: 0;
}

.attention_block img
{
    max-height: 50vh;
    max-width: 90%;
}

.attention_block .leftmost
{
    order: -1;
}

.attention_block h3 {font-size: 2em; color: white; }

#bg
{
	position: fixed;
	top: 0; left: 0;
	z-index: -1;
	width: 100%;
	min-height: 100vh;
	background-color: #000000;
	object-fit: cover;
}



/*
	PAGE SECTIONS
*/

/* Navigation */
#nav_mouseover
{
	position: fixed;
	height: 2em; width: 100%;
	top: 0; left: 0;
	z-index: 1001;
	text-align: center;
	background-color: #03587c;
	transition: all .5s ease-in-out;
    box-shadow: 0 0 5px #000000cc;
}

#nav_mouseover.invisible
{
	opacity: 0;
	top: -3em;
}

#nav_mouseover img
{
	margin: .1em;
	width: 1.5em;
    position: relative;
    top: 1em;
}

#nav_bar
{
	position: fixed;
	width: 100%;
	top: 0; left: 0;
	padding: .25em 0;
	z-index: 1000;
	background-color: #03587c;
	background-color: #03587cee;
	transition: all .5s ease-in-out;
	text-align: center;
	min-height: 6em;
}

#nav_bar.enlarged
{
	transform: translatey(350px) scale(1.5);
	transform: translatey(36vh) scale(1.5);
	background-color: transparent;
	min-height: 0;
}

#nav_bar.preload
{
	transition: none;
	display: none;
}

#nav_bar.invisible
{
	opacity: 0;
	top: -300px;
}

#nav_logo
{
	display: block;
	text-align: center;
	width: 80%;
	height: 3em;
	z-index: 1010;
	overflow: visible;
	margin: 0 auto;
	transition: all .5s ease-in-out;
}
	
#nav_bar.enlarged #nav_logo
{
	width: 60%;
    font-size: 1.5em;
}

#top_links
{
	z-index: 1020;
	transition: all .5s ease-in-out;
}

#top_links a
{
	display: block;
	margin: .5em auto 1em auto;
	color: white;
	text-decoration: none;
    font-size: 1.5em;
}

#nav_bar.enlarged #top_links
{
	transform: scale(.7) translateY(-1em);
}

/* Content */
#content_body
{
	min-height: 600px;
	min-height: 100vh;
	max-width: 1500px;
	transition: max-height 1s ease-in-out;
	overflow-y: hidden;
	margin: 0 auto;
}

.main_screen
{
	margin-top: 3em;
}

.submenu
{
	background-color: #03587c;
	padding: .5em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.submenu a 
{
	color: white;
	text-decoration: none;
	padding: .5em;
	display: inline-block;
	background-color: transparent;
	border-style: none;
	border-width: .1em;
	border-color: #ffc533;
	transition: all .5s ease-in-out;

}

.submenu a:hover, #top_links a:hover { color: coral; }
.submenu a:active, #top_links a:active { color: white; }
.submenu a.selected:hover {color: white; }

.submenu a.selected
{
	background-color: #6bc9d6;

	border: none;
    box-shadow: -2px 2px 5px rgba(0,0,0,.5);
    color: white;
    border-radius: 5px;
}

.white_bg
{
	position: relative;
	background-color: rgba(255,255,255,.8);
    padding-bottom: 2em;
}

div.img_scroll
{
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	margin-bottom: 1em;
	text-align: center;
}

div.img_scroll img
{
	display: inline;
	margin: 0 .5em .5em 0;
	height: 50vh;
}

div.port_entry
{
	width: 95%;
	margin: 0 auto 2.5em auto;
	position: relative;
}

div.port_entry img.top_img
{
	max-width: none;
	max-height: none;
	width: 95%;
	margin: 1em auto 0 auto;
	display: block;
    
    border-color: #03587c;
    border-style: solid;
    border-width: 2px;
	border-bottom: none;
	
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

div.site_info
{	
	background-color: #03587c;
	
	padding: 5%;
	color: white;
    width: 90%;
	
	margin: 0;

	border-radius: 5px;
}

div.site_info + div.site_info
{
	margin-top: 2em;
}

div.site_info p { color: white; }
div.site_info h3, div.site_info h2 { color: white; }

.site_nugget
{
	margin: 0;
}

div.expander
{
	overflow: hidden;
	transition: all .5s ease-in-out;
	max-height: 0;
	margin: 1em 0;
}

a.moreinfo_button, a.lessinfo_button
{
	transition: all .5s ease-in-out;
	background-color: #1383B4;
	border-radius: .2em;
	color: white;
	padding: .25em;
	width: 7em;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	position: relative;
	top: -1em;
	text-align: center;
	
}

a.lessinfo_button
{
	background-color: #bf2222;
}

a.moreinfo_button:hover, a.lessinfo_button:hover
{
    color: white;
}

p .contact_logo
{
    width: 2em;
    vertical-align: text-bottom;
    margin-right: 1em;
}

/* Footer */
#footer
{
	background-color: #03587c;
	color: white;
	font-size: .75em;
	text-align: center;
	padding: .5em;
}

#footer a
{
	color: white;
}

#footer a:hover
{
	color: #F5BE41;
}

#footer a:active
{
	color: white;
}

@media screen and (max-width: 700px)
{
	#top_links
	{
		transform: scale(.8);
	}
}

/*SORT THESE IN*/
.main_screen
{
	min-height: 80vh;
}

#splash_screen
{
	min-height: 100vh;
	position: relative;
}

#splash_screen p 
{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.circle
{
	border-radius: 50%;
	overflow: hidden;
	width: 30%;
	height: auto;
	box-shadow: .15em .15em .8em rgba(0,0,0,.4);
	display: inline-block;	
}

.left_img, .right_img
{
	display: block;
	width: 98%;
	margin: .5em auto;
}

#signature_svg
{
	width: 100%;
	height: 6em;
}

#signature_svg path
{
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 8;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

/*
	ALERT BOX
*/
img.enlargeable {cursor: zoom-in;}

#alertBlock
{
	position: fixed;
	display: none;
	top: 0; left: 0;
	width: 100%;
	z-index: 3000;
}

#blackout
{
	width: 100%;
	height: 2000px;
	height: 100vh;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	overflow: auto;
	transition: background-color 1s;
}

#blackout.whitebg
{
	background-color: rgba(255,255,255,0.8);
}

#blowup_menu
{
	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	padding: .5em;
	margin-right: .5em;
}

#zoomin, #zoomout, #cancel_blowup, #btow
{
	width: 1em;
	cursor: pointer;
	padding: .5em;
	border-radius: 40%;
	background-color: white;
	color: red;
	margin-left: .3em;
}

#zoomout {display: none;}

#blownup
{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100vh;
	transition: max-width 1s, max-height 1s;
}

/*
    FORMS
*/
label 
{
    display: inline-block;
    width: 10em;
    margin: .5em;
}

label.unrestricted
{
    width: auto;
    display: inline;
}

input[type=text], select, textarea
{
    width: 15em;
    font-size: 1em;
    font-family: 'Pontano Sans', sans-serif;
    overflow: hidden;
}

input[type=text].required, select.required, textarea.required
{
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

input[type=checkbox]
{
    margin-left: 2em;
    margin-top: 1em;
}

select
{
    display: block;
    margin-left: 2em;
    margin-top: .5em;
}

textarea
{
    width: 20em;
    height: 15em;
}

#loading_formdata
{
    display: none;
    width: 4em;
}


/*
	WIDESCREEN
*/

@media screen and (min-width: 1015px)
{
	body {font-size: 1.5em;}

	#nav_logo
	{
		width: 40%;
	}
	
	#top_links a
	{
		display: inline-block;
		margin: .4em;
        font-size: 1em;
	}
	
	#nav_bar.enlarged
	{
		transform: translatey(400px) scale(1.5);
		transform: translatey(40vh) scale(1.5);
	}
	
	#nav_bar.enlarged #nav_logo
	{
		width: auto;
	}
		
	.left_img
	{
		display: inline;
		float: left;
		width: 40%;
		margin-right: .5em;
	}

	.right_img
	{
		display: inline;
		float: right;
		width: 40%;
		margin-left: .5em;
	}
	
	.attention_block
	{
		padding: 4em 10%;
		display: flex;
		text-align: center;
		align-items: center; /* align vertical */
		flex-direction: row;
	}
    
    .attention_block img
    {
        width: 50%;
        padding: 1em;
        max-height: 70vh;
    }
    
    .attention_block .fifty
    {
        width: 50%;
        padding: 1em;
    }
    
    /* Navigation */
    #nav_mouseover
    {
        height: 1em;
    }

    #nav_mouseover img
    {
        width: 1em;
        top: .3em;
    }
}

@media screen and (max-width: 905px)
{
    .attention_block h3
    {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 905px)
{
    .regular_block
    {
        padding: 2em 20%;
    }
}